* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    padding: 30px 20px;
    background: #d4fff5;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #151526;
}
h2 {
    text-align: center;
    font-size: 1.35rem;
    border-radius: 7px;
    padding: 14px 10px 6px;
    margin-bottom: 15px;
    color: #ffca92;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    background: rgb(105,0,61);
    background: linear-gradient(175deg, rgba(105,0,61,1) 0%, rgba(148,0,78,1) 27%, rgb(228, 45, 166) 100%);
}
h3 {
    text-align: center;
    font-size: 1.2rem;
    border-radius: 7px;
    padding: 8px 10px 5px;
    margin-bottom: 12px;
    color: #d5ff92;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    background: rgb(105,0,61);
    background: linear-gradient(165deg, rgb(105, 0, 30) 0%, rgb(158, 9, 88) 27%, rgb(229, 78, 138) 100%);
}
#btn1 {
    width: 200px;
    display: block;
    margin: 8px auto;
    background: rgb(1, 111, 34);
    color: #d4fff5;
    border-radius: 10px;
}
#btn1:disabled {
    background: rgb(117, 128, 119);
    color: #bfd0cc;
}
#txt{
    border: 1px solid #474747;
    padding: 10px 15px;
}
p{
    text-indent: 1.5em;
    text-align: justify;
}
p:first-letter{
    color: red;
    font-size: 1.6rem;
}
button{
    padding: 7px 20px;
    font-weight: bold;
<<<<<<< HEAD
}
=======
}
.content .red{
    background: #ff1863;
}
.red{
    color: #d4fff5;
    font-weight: bold;
}
.dinamics{
    width: 30%;
    margin: 5px auto;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 7px;
    background: #768186;
}
.flx {
    display: flex;
    justify-content: space-around;
}

